p {
	margin: 0;
}

.score-keeper {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 90%;
	margin: 0 auto;
	overflow: auto;
}

.score-keeper h1 {
	margin: 40px 0 20px;
	font-size: 5rem;
}

.score-keeper h2 {
	margin: 0 0 20px;
	font-size: 3rem;
}

.score-keeper-grid {
	display: grid;
	grid-template-columns: repeat(5, 200px);
	max-width: 100%;
	gap: 30px;
	margin-bottom: 50px;
}

.score-keeper .reset-score {
	border: none;
	border-radius: 10px;
	font-size: 1.8rem;
	background-color: #333;
	color: #fff;
	padding: 10px 20px;
	cursor: pointer;
	margin-bottom: 20px;
}
